html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#div__year {
  display: block;
}

#year {
  display: block;
  margin-top: 0.25rem;
}

#submit__box {
  margin-top: 20px;
}


#submit__box button {
  padding: 5px;
  width: 100px;
  height: 35px;
  border: 0;
  border-radius: 8%;
  background-color: #0D6EFD;
  color: white;
}

#submit__box a {
  padding: 6px 10px;
  border: 0;
  border-radius: 8%;
  background-color: #198754;
  color: white;
  text-decoration: none;
}

#zodiac_results {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(61, 231, 61, 0.471);
  padding: 30px;
  height: 350px;
  width: 350px;
  border: 1px solid green;
  border-radius: 10px;
}

#zodiac_results h5 {
  color: green;
}

#zodiac_results span {
  font-weight: bold;
}

#zodiac_error {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 112, 112, 0.379);
  padding: 30px;
  height: 125px;
  width: 450px;
  border: 1px solid rgb(139, 0, 0);
  border-radius: 10px;
}

#zodiac_error h5 {
  color: rgb(139, 0, 0);
}