@page
@model lab1.Namespace.IndexModel
@{
    string zodiacSign = ViewData["Zodiac"] as string ?? string.Empty;
    string zodiacImagePath = Url.Content($"~/images/{zodiacSign.ToLower()}.png");
}

<h2>Find Your Zodiac Sign</h2>
<p style="font-size: small; color: gray;">Jeffery MJ</p>

<form method="post">
    <div class="year-input">
        <label asp-for="Year">Enter Year</label>
        <input asp-for="Year" type="number" id="input-year" />
    </div>

    <div class="actions">
        <button type="submit" class="btn btn-success">Submit</button>
        <a href="/" class="btn btn-secondary">Reset</a>
    </div>
</form>

@if (!string.IsNullOrEmpty(zodiacSign) && zodiacSign != "Error")
{
    <div class="zodiac-result">
        <img src="@zodiacImagePath" alt="Zodiac Image" class="zodiac-img" />
        <h4>Your Zodiac Sign is <strong>@zodiacSign</strong>.</h4>
    </div>
}
else if (zodiacSign == "Error")
{
    <div class="error-message">
        <h4>Invalid Year. Please enter a year between 1900 and the next year.</h4>
    </div>
}